/**
 *  /j/css/base.css
 */
body {padding:0;margin:0;}
body article,
body header {width:99%;height:40px;background-color:#fefefe;margin-bottom:1.2em;}
body section{padding:0 1.2em;}
a {text-decoration:none;}

label {display:inline-block; /* ensure label and contents do not wrap */}
ul {padding:0;margin:0;}

.j-btn {
  cursor:pointer;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  border:none !important;
}
.j-btn.j-close {float:right;}

.j-btn em {
  background-image:url(/css/img/btn-sprite.png);
  display:inline-block;
  cursor:pointer;
  vertical-align:-0.185em;
  margin-left:0.185em;
  height:16px;
  width:16px;
}

.j-add    em {background-position: 0px 0px;}
.j-remove em {background-position: 0px -20px;}
.j-find   em {background-position: 0px -40px;}
.j-close  em {background-position: 0px -60px; border: none;}
.j-min    em {background-position: 0px -80px;}
.j-max    em {background-position: 0px -100px;}
.j-right  em {background-position: 0px -120px;}
.j-left   em {background-position: 0px -140px;}
.j-next   em {background-position: 0px -120px;}
.j-prev   em {background-position: 0px -140px;}
.j-up     em {background-position: 0px -160px;}
.j-down   em {background-position: 0px -180px;}
.j-info   em {background-position: 0px -200px;}
.j-lock   em {background-position: 0px -220px;}
.j-unlock em {background-position: 0px -240px;}
.j-vert   em {background-position: 0px -260px;}
.j-hort   em {background-position: 0px -280px;}
.j-redo   em,
.j-reset  em {background-position: 0px -300px;}
.j-help   em {background-position: 0px -320px;}
.j-save   em {background-position: -20px 0px;}
.j-edit   em {background-position: -20px -20px;}
.j-stop   em {background-position: -20px -40px;}
.j-halt   em {background-position: -20px -60px;}
.j-tick   em {background-position: -20px -80px;}
.j-person em {background-position: -20px -100px;}
