/**
 *  /kc/css/base.css
 */
body{padding:0;margin:0;}
body article,
body header {width:99%;}
body header{height:40px;background-color:#fefefe;margin-bottom:1.2em;}
body section{padding:0 1.2em;}
a {text-decoration:none;}

fieldset {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background:none repeat scroll 0 0 #FAFAFA;
  border-color:#ddd #eee #fff;
  border-left:1px solid #eee;
  border-radius:4px;
  border-right:1px solid #eee;
  border-style:solid;
  border-width:1px;
  margin:4px;
  padding:4px;
  vertical-align:top;
}

fieldset >legend {
  background-color:#EDF5FF;
  border:1px solid #ccc;
  border-radius:4px;
  color:#333;
  font-weight:bold;
  margin:0 -0.4em;
  padding:3px 10px;
}

label {display:inline-block; /* ensure label and contents do not wrap */}
ul {padding:0;margin:0;}
li {list-style-type:none;}
.kc-date, .kc-time {width:6em;}
