/**
 *  /css/kc.css
 */

/* background */
body {background-color:#669CE8;}
img.kc-bg-bl {position:fixed;z-index:-1;bottom:0;left:0}
img.kc-bg-br {position:fixed;z-index:-1;bottom:0;right:0}

.kc-date, .kc-time {width:6em;}

.yui3-tabview-panel {
  overflow:auto;width:98%; /* ensure containment */
}

.kc-title {font-size:1.6em;font-weight:bold;text-align:center;color:#800;}

div.kc-topics {display:block;width:900px;margin:0 auto;}
div.kc-topics > div {float:left;padding:1em;margin:1em;border:1px solid #ddd;}
div.kc-topics > div > img {display:block;margin:0 auto;}
div.kc-topics > div > h1 {font-size:2em;color:#800;text-align:center;}
div.kc-topics > div > h3 {font-size:1.4em;color:#600;text-align:center;}
div.kc-topics > div > ul > li {font-size:1.2em;color:#880;text-align:center;}
div.kc-topics > div > ul > li:hover {font-size:1.4em;color:#660;text-decoration:underline;}

.kc-btn-involved {clear:both;display:block;margin:0 auto;font-size:2em;}