/* YUI3 Style overrides */

.yui3-skin-sam .yui3-tab-hidden {display:none !important;} /* added as being overrided*/
.yui3-skin-sam .yui3-panel .yui3-widget-bd {overflow:hidden;} /* force containment */
