/** /css/pod/grp.css
 *
 *  Kauri Coast Promotion Society
 */
.kc-pod-grp .kc-close {float:right;}

.kc-pod-grp .kc-data-name {width:35em;font-weight:bold;}
.kc-pod-grp .kc-data-contactDetail {width:50em;}

/*not working*/
.kc-pod-grp .yui3-datatable-col-detail {max-height:50px;overflow:auto;}
