/** /css/pod/grpEdit.css
 *
 *  Kauri Coast Promotion Society
 */
.kc-pod-grpEdit .kc-close {float:right;}

.kc-pod-grpEdit .kc-data-name {width:35em;font-weight:bold;}
.kc-pod-grpEdit .kc-data-contactDetail {width:50em;}
