/** /css/pod/info.css
 *
 *  Kauri Coast Promotion Society
 */

.j-pod-info .yui3-widget-bd {overflow:auto;} /*expand with list*/

.j-pod-info .j-info-list {width:200px;float:left;}
.j-pod-info .j-info-detail {margin-left:205px;}
.j-pod-info .j-info-detail > fieldset {border:1px solid #999;}

.j-pod-info .j-info-list > .j-record-focus > input {background-color:#fcf;font-weight:bold;}

.j-pod-info .yui3-widget-bd {overflow:auto;} /*constrain block*/
