/** /css/widget/schedule.css
 *
 */
.j-schedule {
  overflow:auto;
  height:20em;
  width:180px;
}

/* .j-schedule div {color:#bbb;overflow:auto;height:60px} */
.j-schedule .yui3-j-schedule-content>div>span {color:#bbb;}
.j-schedule .yui3-j-schedule-content>div>em {border:1px dotted #f00;}

.j-schedule .j-event-time {font-size:0.6em; padding-right:1em;}