/**
 *  /css/mod/about.css
 */

.j-mod-about,
.j-mod-about .yui3-tab-panel {overflow:auto;width:100% !important; /* ensure containment */ }

.j-mod-about .j-data-publicDetails {width:50em;}

.j-mod-about .j-loggedIn > label,
.j-mod-about .j-save {float:right;}

