/** /css/mod/logon.css */

.j-logon {
  color:white;
  position:absolute;
  overflow:auto;
  top:3px;
  z-index:9999999;
  right:3px;
  height:auto;
  width:auto;
  margin:0.1em;
  border-radius:0.435em;
  -moz-border-radius:0.435em;
  -webkit-border-radius:0.435em;
  background:rgb(69,72,77);
  background:-moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
  background:-webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background:-o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background:-ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background:linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  padding:0.4em 0.535em;
}
.j-logon a {cursor:pointer;}
